body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

$theme-colors: (
  'primary': #2196f3,
  'success': #4caf50,
  'danger': #e91e63,
  'warning': #ff9800,
);

@import '~bootstrap/scss/bootstrap.scss';

body {
  padding-top: 5rem;
}
